body {
    background-color: black;
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    margin:0px;
    cursor: none;
}

.target {
    position: absolute;
    overflow: hidden;
    margin: 0;
}

.horizon {
    width:100%;
    height:1px;
    position: absolute;
    margin: 0;
    left: 0px;
    top: 0px;
    background-color: white;

}

.vertical {
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;


}

.coordinate {
    position: absolute;
    color: white;
    margin: 20px;
}